{% extends "layout.html" %}

{% block content %}
<style>
    .section-title {
        margin-bottom: 1.5rem;
    }
    .about-section {
        margin-bottom: 3rem;
    }
    strong {
	    font-weight: bold;
    }
</style>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Top section -->
            <section class="about-section text-center mb-5">
                <h1 class="display-4 mb-4">About <strong>SAMPL</strong></h1>
                <p class="lead mb-4"><strong>SAMPL</strong> (Synthesizer and Music Production Lab) is dedicated to providing an interactive and immersive learning experience in the field of electronic music synthesis and sound design. Our platform offers comprehensive lessons and hands-on practice with digital synthesizers, making it accessible for both beginners and advanced users.</p>
                <hr class="my-4">
            </section>

            <!-- Mission section -->
            <section class="about-section text-center mb-5">
                <h2 class="section-title">Our Mission</h2>
                <p>Our mission is to democratize music education by providing high-quality, interactive learning resources that inspire creativity and innovation. We aim to create a community of music enthusiasts and producers who can share their knowledge and collaborate on projects.</p>
            </section>

            <!-- Creator section -->
            <section class="about-section text-center mb-5">
                <h2 class="section-title">Meet the Creator</h2>
                <p><strong>SAMPL</strong> was created by a team of passionate musicians and software developers, and by a "team," I mean just me, Mohamed Wassim Haimoudi. I am dedicated to continuously improving the platform and adding new features to enhance the learning experience.</p>
            </section>

            <!-- Contact section -->
            <section id="contact-me" class="about-section text-center">
                <h2 class="section-title">Contact Me</h2>
                <p class="mb-4">If you have any questions, feedback, or suggestions, please feel free to reach out. You can contact me via email or follow me on my social media channels.</p>
                <a href="mailto:m.wassim.haimoudi@gmail.com" class="btn btn-primary">Email Me</a>
            </section>
        </div>
    </div>
</div>
{% endblock %}
