<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <!-- Metadata about the page -->
        <meta name="description" content="A platform for learning music synthesis">
        <meta name="keywords" content="Music, Synths, Oscillators, Education, Interactive, E-learning, Audio processing, Sound synthesis">
        <meta name="author" content="Mohamed Wassim Haimoudi">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if title %}
        <title>SAMPL - {{ title }}</title>
        {% else %}
        <title>SAMPL</title>
        {% endif %}
        <style>
            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }
            main {
                flex: 1 0 auto;
            }
            .footer {
                flex-shrink: 0;
                height: 60px; /* Adjust this value to set your desired footer height */
                line-height: 60px; /* This centers the text vertically */
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100">
        <header class="site-header">
            {% include 'navbar.html' %}
        </header>
        <main role="main" class="flex-shrink-0">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10" style="max-width: 800px;">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <!-- Block Content -->
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container text-center">
                <span class="text-muted">&copy; 2024 <b>SAMPL</b>. All rights reserved.</span>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>
        <script src="{{ url_for('static', filename='js/date_picker.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.min.js"></script>
        <script src="{{ url_for('static', filename='js/slideAnimation.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sliders.js')}}"></script>
        <script src="{{url_for('static', filename='js/sound.js')}}"></script>
        <script src="{{url_for('static', filename='js/sineAnimation.js')}}"></script>
        <script src="{{url_for('static', filename='js/amplitude.js')}}"></script>
    </body>
</html>
